 th{
    color:#CEF6F5;
    font-size:15;
    font-weight: 10;
    background: #FA8258 !important;


 }

 a{
    font-weight: bold;
    font-size: 13px;
    font-family:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;   
    color:#FFFFFF; 
    text-decoration:none;
    background:#00BCFF;
    padding-left: 5px;
    padding-right: 5px;
    border-style: groove #0000FF ;
    border-radius: 25px;}
 
 p{
    color:#0000FF;}

  form{
    margin-left:5%;
  }
  h1{
    color:#0000FF;
    margin-left:5%;
  }
    
  h2{

    color:#0000FF;
    font-size:15;
    font-weight: 10;
    

  }


a.orange{

  background:#FF4000;
  color: white;
  font-weight: bold;
}

td.clear{
  background:#EFFBFB;
}